.site-title {
  color: #00d1c1 !important;
}
#kawlu_banner {
  width: 100%;
}
.site-title {
  font-size: 22px !important;
}

/* Embed sideos */

.embed-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1.5em;
}
.embed-video-container iframe, .embed-video-container object, .embed-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Social buttons */
.hatena_button {
  padding: 10px 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
}

.share {
  width: 180px;
  margin-left: auto;
}
.share > .article-share-twitter,
.share > .article-share-facebook,
.share > .article-share-pinterest,
.share > .article-share-google,
.share > .article-share-hatena,
.share > .article-share-pocket {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
  padding-left: 10px;
}
.share > .article-share-twitter:before,
.share > .article-share-facebook:before,
.share > .article-share-pinterest:before,
.share > .article-share-google:before,
.share > .article-share-hatena:before,
.share > .article-share-pocket:before {
  font-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.share > .article-share-twitter:hover,
.share > .article-share-facebook:hover,
.share > .article-share-pinterest:hover,
.share > .article-share-google:hover,
.share > .article-share-hatena:hover,
.share > .article-share-pocket:hover {
  color: #fff;
}
.article-share-hatena:hover {
  background: #2f62c9;
  text-shadow: 0 1px #008abe;
}
.article-share-pocket:hover {
  background: #d13f4e;
  text-shadow: 0 1px #008abe;
}
.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
  display: inline-block;
}
.article-entry h1, .article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6 {
    line-height: 1.1em;
     margin: 2.2em 0 1.1em 0;
}
.kawlu-links {
  text-align: center;
}
